* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    & h1 {
        padding: 1rem;
    }
    & .weather-form {
        margin: 1rem;
    }
    & .weather-list-wrapper{
        width: 100%;
        flex: 1;
        & .weather-list{
            margin: 2rem;
            display: flex;
            align-items: center;
            & span {
                flex: 1;
                padding: 0 10px;
                font-size: 2rem;
            }
        }
    }
}