* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    & .wrapper {
        display: flex;
        padding: 10px;
        & select {
            margin: 0 10px;
        }
    }
}